[Unit]
Description=The Vistar MDM
After=network.service syslog.service

[Service]
TimeoutStartSec=0
ExecStart=/opt/osquery/bin/output
Restart=on-failure
KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=15
CPUQuota=20%

[Install]
WantedBy=multi-user.target
