[Unit]
Description=Vistar Service
After=network.target

[Service]
WorkingDirectory=/opt/osquery/bin
Environment="QT_QPA_PLATFORM=wayland"
ExecStart=/bin/bash /opt/osquery/bin/vistar.sh
Restart=always

[Install]
WantedBy=multi-user.target
