[Unit]
Description=The osquery Daemon
After=network.service syslog.service

[Service]
TimeoutStartSec=0
WorkingDirectory=/opt/osquery/bin
ExecStart=env QT_QPA_PLATFORM=wayland /opt/osquery/bin/vistar
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
